.container{
    height: 100vh;
    border:2px solid blue;
    display: flex;
    justify-content: space-around;
    /* align-items: center  ; */
    gap : 2px
    /* flex-wrap: wrap; */
    /* flex-shrink: 1; */
    
}

.item{
    height: 150px;
    width: 150px;
    background-color: green;
    /* margin-bottom: 5px; */
}

.item1{
    background-color: blue;
    flex-grow: 1;
    align-self: end;
}